<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>dashboard</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="css/dashboard.css" />
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script src="barChart.js"></script>
<script>
	function beginrefresh() {
		setInterval("location.reload();", 5000)
	}
	window.onload = beginrefresh;
</script>
</head>

<body class="home">
	<nav class="navbar navbar-default">

		<div class="navbar-header">
			<p class="navbar-name">
				Welcome: <span th:text="${userDto.firstname}"></span>!!
			</p>
		</div>
		<div class="container">
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<button type="submit" class="btn btn-default btn-circle">Logout</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid display-table">
		<div class="row display-table-row">
			<!-- This part is the time line-->
			<div class="col-sm-11 display-table-cell v-align">
				<!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
				<div class="user-dashboard">
					<br></br>
					<div>
						<div>
							<table class="columns">
								<tr>
									<td>
										<div id="columnchart_values" style="border: 1px solid #ccc"></div>
									</td>
								</tr>
							</table>
						</div>
						<div>
							<h1>PROPOSALS</h1>
						</div>
						<div class="row">
							<table>
								<tr th:each="proposal,i:${proposals}">
									<td>
										<div class="panel panel-white post panel-shadow">
											<div class="post-heading">
												<div class="pull-left image">
													<img src="u.jpg" class="img-circle avatar"
														alt="user profile image" />
												</div>
												<div class="pull-left meta">
													<div class="title h5">
														<p th:text="${proposal.proposal.owner.firstName}"
															style="font: bold;"></p>
														made a post.
													</div>
													<h6 class="text-muted time">1 minute ago</h6>
												</div>
											</div>
											<div class="post-description">
												<p th:text="${proposal.proposal.description}"></p>
												<div class="stats">
													<p th:text="${proposal.votesInformation.info}"></p>
												</div>
											</div>
											<div class="post-footer">
												<ul class="comments-list">
													<li class="comment">
														<div th:each="com ,i:${proposal.proposal.comments}">
															<a class="pull-left" href="#"> <img class="avatar"
																src="u.jpg" alt="avatar" />
															</a>
															<div class="comment-body">
																<div class="comment-heading">
																	<h4 class="user" th:text="${com.user.firstName}"></h4>
																</div>
																<p th:text="${com.text}"></p>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</html>
